@model IEnumerable<TaiwanGo.ViewModels.CCategoryDetails>

@{
    ViewData["Title"] = "List";
}

<h1>景點列表</h1>

<p>
    <a asp-action="Create">新增景點</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.FCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAttraction.AttractionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAttraction.FDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAttraction.FLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAttraction.FImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@Html.DisplayFor(modelItem => item.Category.FCategoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MainAttraction.AttractionName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MainAttraction.FDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.MainAttraction.FLocation)</td>
                    <td><img src="~/images/@item.MainAttraction.FImage" width="100" height="70" /></td>
                    <td>
                        @Html.ActionLink("修改", "Edit", "Attraction", new { id = item.MainAttraction.FId }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("刪除", "Delete", "Attraction", new { id = item.MainAttraction.FId }, new { onclick = "return confirm('確定要刪除嗎?')",@class="btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>